* {
  box-sizing: border-box;
}
body{
  margin: 0;
}
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.Title {
  text-align: center;
}
button {
  cursor: pointer;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
legend {
  display: inline-block;
  font-size: 1.25em;
  font-weight: 600;
}
.Board {
  height: 100vh;
  display: grid;
  grid-template-columns: 30vh 1fr 30vh;
  grid-template-rows: 15vw 1fr 25vw;
  grid-template-areas:
    "hd hd hd"
    "score center rules"
    "player player player";
  height: 100vh;
  background: url('./cardgame/bg.png') center top / cover;
  color: #fff;
  line-height: 1.4;
}
.Center {
  grid-area: center;
  display: flex;
  flex-flow: row wrap;
}
.rules {
  grid-area: rules;
  font-size: 0.75em;
}
.Scores {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
  grid-area: score;
}
.Score {
  width: 100%;
  margin: 1vh;
  padding: 0.5em 1em;
  border-radius: 0.5vh;
  background-color: #fff;
  color: #000;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.Score:not(.active) {
  opacity: 0.7;
  transform: translateX(-2vh);
}
.Players {
  padding: 10px;
  text-align: center;
  grid-area: player;
}
.Cards {
  white-space: nowrap;
}
.CardPile, .Card {
  display: inline-block;
  vertical-align: top;
  height: calc(1.44 * 12vh);
  /*height: calc(1.58 * 12vh);*/
  width: calc(1 * 12vh);
  margin: 1vh;
  border-radius: 1vh;
  background-color: #fff;
  background-size: 102% auto;
  background-position: center;
}
.CardPile {
  background: linear-gradient(
      45deg,
      #fff calc(50% - 1px),
      rgba(0,0,0,0.2) 0,
      rgba(0,0,0,0.2) calc(50% + 1px),
      #fff 0
    ) 0 0/ 0.5em 0.5em;
  box-shadow:
    0 1px 0 #fff,
    0 2px 0 #777,
    0 3px 0 #fff,
    0 4px 0 #777,
    0 5px 0 #fff,
    0 6px 0 #777,
    0 10px 5px rgba(0,0,0,0.1)
  ;
}
.CardPile > span {
  background: #fff;
  padding: 2px;
}
.Card {
  text-align: left;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  transition: transform 0.1s;
}
.Card.stacked:not(:first-child) {
  margin-left: -8vh;
}
.Card.handed {
  transform-origin: bottom;
}
.Card.handed:nth-child(1) {transform: rotate(-10deg) translateY(10%);}
.Card.handed:nth-child(2) {transform: rotate(-5deg) translateY(3%);}
.Card.handed:nth-child(3) {transform: rotate(0) translateY(0);}
.Card.handed:nth-child(4) {transform: rotate(5deg) translateY(3%);}
.Card.handed:nth-child(5) {transform: rotate(10deg) translateY(10%);}

.Card.stacked:hover {
  cursor: pointer;
  box-shadow: 5px 3px 15px rgba(0,0,0,0.2);
  z-index: 1;
  transform: scale(1.1);
}
[family="♦"], [family="♥"] {
  color: softblue;
}

[level]:before {
  /*content: attr(family);*/
  display: block;
  font-size: 1.25em;
  line-height: 1;
}
[level]:after {
  /*content: attr(level);*/
}
@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-2px);
  }

  20%,
  40%,
  60% {
    transform: translateY(2px);
  }

  80% {
    transform: translateY(1px);
  }

  90% {
    transform: translateY(-1px);
  }
}
.MobPile:not(:disabled) {
  animation: shake-horizontal 2s ease-in-out infinite;
}
