* {
  box-sizing: border-box;
}
body{
  margin: 0;
}
#app {
  font-family: Solway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

button {
  cursor: pointer;
  font-family: inherit
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
legend {
  display: inline-block;
  font-size: 1.25em;
  font-weight: 600;
}


//

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-2px);
  }

  20%,
  40%,
  60% {
    transform: translateY(2px);
  }

  80% {
    transform: translateY(1px);
  }

  90% {
    transform: translateY(-1px);
  }
}
