.Cards
  white-space: nowrap

.CardPile, .Card
  display: inline-block
  vertical-align: top
  height: calc(1.44 * 14vh)
  // height: calc(1.58 * 14vh)
  width: calc(1 * 14vh)
  margin: 1vh
  border-radius: 1vh
  background-color: #fff
  background-size: 102% auto
  background-position: center
.CardPile
  background:
    linear-gradient(
      45deg,
      #fff calc(50% - 1px),
      rgba(0,0,0,0.2) 0,
      rgba(0,0,0,0.2) calc(50% + 1px),
      #fff 0
    ) 0 0/ 0.5em 0.5em
  box-shadow:
    0 1px 0 #fff,
    0 2px 0 #777,
    0 3px 0 #fff,
    0 4px 0 #777,
    0 5px 0 #fff,
    0 6px 0 #777,
    0 10px 5px rgba(0,0,0,0.1)
  & > span
    background: #fff
    padding: 2px 4px
  &:disabled
    opacity: 0.5
  &.MobPile:not(:disabled)
    animation: shake-horizontal 2s ease-in-out infinite

.Card
  text-align: left
  box-shadow: 0 1px 5px rgba(0,0,0,0.1)
  transition: transform 0.1s
  &.stacked:not(:first-child)
    margin-left: -8vh
  &.handed
    transform-origin: bottom
  &.handed:nth-child(1)
    transform: rotate(-10deg) translateY(10%)
  &.handed:nth-child(2)
    transform: rotate(-5deg) translateY(3%)
  &.handed:nth-child(3)
    transform: rotate(0) translateY(0)
  &.handed:nth-child(4)
    transform: rotate(5deg) translateY(3%)
  &.handed:nth-child(5)
    transform: rotate(10deg) translateY(10%)

  &.stacked:hover
    cursor: pointer
    box-shadow: 5px 3px 15px rgba(0,0,0,0.2)
    z-index: 1
    transform: scale(1.1)
